{% extends 'core/base.html' %}

{% block content %}
{% include "core/messages.html" %}
<h1 class="text-center my-4">Make a Payment</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.payment_method.id_for_label }}">Select Payment Method</label>
          <select name="{{ form.payment_method.name }}" id="{{ form.payment_method.id_for_label }}" class="form-control custom-select">
            {% for value, label in form.payment_method.field.choices %}
              <option value="{{ value }}" >{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="payment-address" class="form-group d-none">
          <label for="payment-address-input">Payment Address</label>
          <div class="input-group">
            <input type="text" id="payment-address-input" class="form-control" readonly>
            <button type="button" class="btn btn-outline-secondary" onclick="copyPaymentAddress()">Copy</button>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.amount.id_for_label }}">Amount</label>
          <div class="input-group">
            <input type="number" name="{{ form.amount.name }}" id="{{ form.amount.id_for_label }}" class="form-control" step="0.01">
            <div class="input-group-append">
              <span class="input-group-text">USD</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.proof_of_pay.id_for_label }}">Proof of Payment</label>
          <div class="custom-file">
            <input type="file" name="{{ form.proof_of_pay.name }}" id="{{ form.proof_of_pay.id_for_label }}" class="custom-file-input">
            <label class="custom-file-label" for="{{ form.proof_of_pay.id_for_label }}">Choose file</label>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Proceed to Payment</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function copyPaymentAddress() {
    var input = document.getElementById("payment-address-input");
    input.select();
    document.execCommand("copy");
    alert("Payment address copied to clipboard!");
  }

  var paymentMethodSelect = document.getElementById("{{ form.payment_method.id_for_label }}");
  var paymentAddressDiv = document.getElementById("payment-address");

  paymentMethodSelect.addEventListener("change", function() {
    var paymentMethod = paymentMethodSelect.value;
    console.log("Payment method selected: ", paymentMethod);
    paymentAddressDiv.classList.toggle("d-none", !paymentMethod || paymentMethod === "CASH");

    var bitcoinAddress = "{{ request.user.account.bitcoin }}";
    var ethereumAddress = "{{ request.user.account.ethereum }}";
    var usdtTrc20Address = "{{ request.user.account.usdt_trc20 }}";
    var usdtErc20Address = "{{ request.user.account.usdt_erc20 }}";

    if (paymentMethod === "USDT_ERC20") {
      document.getElementById("payment-address-input").value = usdtErc20Address;
    } else if (paymentMethod === "USDT_TRC20") {
      document.getElementById("payment-address-input").value = usdtTrc20Address;
    } else if (paymentMethod === "ETHEREUM") {
      document.getElementById("payment-address-input").value = ethereumAddress;
    } else if (paymentMethod === "BITCOIN") {
      console.log("Bitcoin selected");
      document.getElementById("payment-address-input").value = bitcoinAddress;
    }
  });
</script>


{% endblock %}