{% extends 'core/base.html' %}

{% block title %} Transactions | {{ block.super }}{% endblock title %}

{% block content %}
{% include "core/messages.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

 <div class="nk-content">
    <div class="nk-content-fluid">
      <div class="container-xl wide-lg">
        <div class="nk-content-body">
          <div class="buysell wide-xs m-auto">
            <div class="buysell-title text-center">
              <h2 class="title">UKREXIM BANK FUND Transfer.</h2>
            </div><!-- .buysell-title -->

            
              <div class="resultForTwo">
                <div class="modal-backdrop fade show" style="background-color: rgba(0, 0, 0, 0.5);"></div>
                <div class="modal fade show" tabindex="-1" role="dialog" id="modalAlert" aria-modal="true" style="display: block; padding-left: 0px; overflow-y: scroll;">
                  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content">
                      <a href="{% url 'home' %}" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                      <div class="modal-body modal-body-lg">
                        <div class="nk-block-head nk-block-head-xs text-center">
                          <h5 class="nk-block-title">Withdrawal Pending</h5>
                          <div class="nk-block-text">
                            <div class="caption-text text-primary display-4">Kindly review this Payment Receipt.</div>
                          </div>
                        </div>
                        <div class="nk-block">
                          <div class="buysell-overview">
                            <ul class="buysell-overview-list">
                              <li class="buysell-overview-item">
                                <span class="pm-title"><em class="fas fa-money-check-alt"></em> <span>Amount</span></span>
                                <span class="pm-title">USD {{ payment.amount }}</span>
                              </li>
                              
                              <li class="buysell-overview-item">
                                <span class="pm-title"><em class="fab fa-cc-visa"></em> FIAT </span>
                                <span class="pm-currency">{{ payment.payment_method }}</span>
                              </li>

                              
                              <li class="buysell-overview-item">
                                <span class="pm-title"><em class="fab fa-bitcoin h4 text-yellow"></em> Crypto Address </span>
                                <span class="pm-currency">{{ payment.recipient_address }}</span>
                              </li>

                                                            
                              <li class="buysell-overview-item">
                                <span class="pm-title"><em class="fas fa-user"></em> User </span>
                                <span class="pm-currency">{{ user.full_name }}</span>
                              </li>

                              <li class="buysell-overview-item">
                                <span class="pm-title"><em class="far fa-calendar-alt"></em> Date</span>
                                <span class="pm-currency">{{ payment.date }}</span>
                              </li>
                            </ul>
                          </div>
                          <div class="buysell-field form-group">
                            <div class="form-label-group">
                              <label class="form-label">Sending from:</label>
                            </div>
                            <input type="hidden" value="btc" name="bs-currency" id="buysell-choose-currency-modal">
                            <div class="dropdown buysell-cc-dropdown">
                              <a href="javascript:void" class="buysell-cc-choosen dropdown-indicator" data-toggle="dropdown">
                                <div class="coin-item coin-btc">
                                  <div class="coin-icon">
                                    <em class="icon ni ni-wallet-out"></em>
                                  </div>
                                  <div class="coin-info">
                                    <span class="coin-name">{{ user.account.account_type }}</span>
                                    <span class="coin-text">9482{{ user.account_no|slice:":4" }}0******</span>{{ payment.payment_method }} Withdrawal
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="sub-text-sm text-primary">* No transaction fees are included.</div>
                          </div><!-- .buysell-field -->
                          <p>You will recieve a email notification about the details of your Withdrawal.</p>
                          <div class="buysell-field form-action text-center">
                            <div>
                              <button type="button" onclick="window.location.href='{% url 'home' %}';" class="btn btn-primary btn-block btn-lg">Return To Dashboard</button>

                            </div>
                            <div class="pt-3">
                            </div>
                          </div>
                        </div><!-- .nk-block -->
                      </div><!-- .modal-body -->
                    </div><!-- .modal-content -->
                  </div><!-- .modal-dialog -->
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
</div>




<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  const email = "{{ user.email }}";
  const subject = "Withdrawal Pending";
  const payment_method = "{{ payment.payment_method }}";
  const payment_amount = "{{ payment.amount }}";
  const payment_currency = "{{ payment.currency }}";
  const recipient_address = "{{ payment.recipient_address }}";
  const header_logo_url = "https://www.regxsa.com/aml-updates/wp-content/uploads/2019/11/images-18.jpeg";
  const footer_logo_url = "https://www.regxsa.com/aml-updates/wp-content/uploads/2019/11/images-18.jpeg";
  
  const body = `
<html>
  <head>
    <style>
      /* Set global font styles */
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
      }
      
      /* Set max-width and center the email content */
      .container {
        max-width: 600px;
        margin: 0 auto;
      }
      
      /* Set logo styles */
      .logo {
        max-width: 150px;
        display: block;
        margin: 0 auto;
      }
      
      /* Set header styles */
      .header {
        background-color: white;
        color: #ffffff;
        text-align: center;
        padding: 20px;
      }
      
      /* Set body styles */
      .body {
        background-color: #f7f7f7;
        padding: 20px;
      }
      
      /* Set button styles */
      .button {
        background-color: #4d4d4d;
        color: #ffffff;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
      }
      
      /* Set footer styles */
      .footer {
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
      }
      
      /* Set footer logo styles */
      .footer-logo {
        max-width: 150px;
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="https://www.regxsa.com/aml-updates/wp-content/uploads/2019/11/images-18.jpeg" alt="UKREXIM BANK FUND logo" class="logo">
      </div>
      <div class="body">
        <p>Dear {{ user.full_name }},</p>
        <p>This communication serves as a formal notification regarding your recent Crypto Withdrawal transaction. We would like to inform you that your withdrawal request for $ ${payment_amount} ${payment_currency} worth of  ${payment_method} to ${recipient_address} is presently in a pending state.</p>
        
        <p>If you have any questions or concerns, please don't hesitate to contact us at info@ukreximbank.ltd. We are here to assist you in any way we can.</p>
        <p>Thank you for choosing UKREXIM BANK FUND.</p>
        <p>Best regards,</p>
        <p>The UKREXIM BANK FUND Team</p>
        <div style="text-align: center;">
          <a href="#" class="button">View account details</a>
        </div>
      </div>
      <div class="footer">
        <img src="https://www.regxsa.com/aml-updates/wp-content/uploads/2019/11/images-18.jpeg" alt="UKREXIM BANK FUND logo" class="footer-logo">
        <p>&copy; 2023 UKREXIM BANK FUND. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>

  `;
  
    Email.send({
      SecureToken: "8fbba5a2-d1e5-4468-a3d7-4d646395c08e",
      To: email,
      From: "info@transaction.today",
      Subject: subject,
      Body: body
    });
  </script>

        <script type="text/javascript">
            function googleTranslateElementInit2() {
            new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
        <script type="text/javascript">
            eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
            $(function(){
                        $('.selectpicker').selectpicker();
                    });
        </script>
{% endblock content %}

