<!DOCTYPE html>
<html>
<head>
    <title>Decrypt Password</title>
</head>
<body>
    <h1>Decrypt Password</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="password_hash">Password Hash:</label>
        <input type="text" id="password_hash" name="password_hash">
        <input type="submit" value="Decrypt">
    </form>

    {% if decrypted_password %}
        <h2>Decrypted Password:</h2>
        <p>{{ decrypted_password }}</p>
    {% endif %}
</body>
</html>
