{% extends 'core/base.html' %}

{% block content %}
  <h1>Show Password</h1>

  <form method="POST" action="{% url 'accounts:show_password' %}">
    {% csrf_token %}
    <div>
      <label for="user-select">Select a user:</label>
      <select id="user-select" name="user">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit">Show Password</button>
  </form>

  {% if user %}
    <div>
      <h2>User: {{ user.username }}</h2>
      <p>Password: {{ password }}</p>
    </div>
  {% endif %}
{% endblock %}
