<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<!-- Start of Async Drift Code -->
    <script>
    "use strict";

    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('vmzzbzmy8iub');
    </script>
    <!-- End of Async Drift Code -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="9I2up1iCY8MRp5B86FaGgvVOKTeuzEMI6jkSlKIb">
    <title>IBCOINEX LIMITED | Welcome to IBCOINEX</title>

    <meta name="description" content="We are online">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="IBCOINEX LIMITED - Welcome to IBCOINEX">
    <meta itemprop="description" content="We are online">
    <meta itemprop="image" content="http://ivcoinex.ltd/temp/images/meta.png">

    <link rel="icon" href="{% static 'img/op3.png' %}" type="image/png" />

    <link href="{% static 'temp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="{% static 'temp/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Magnific -->
    <link rel="stylesheet" href="{% static 'temp/css/line.css' %}">
    <link href="{% static 'temp/css/flexslider.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'temp/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Slider -->
    <link rel="stylesheet" href="{% static 'temp/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'temp/css/owl.theme.default.min.css' %}" />
    <!-- Main Css -->
    <link href="{% static 'temp/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'temp/css/colors/default.css' %}" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="9I2up1iCY8MRp5B86FaGgvVOKTeuzEMI6jkSlKIb">
    <title>IBCOINEX LIMITED | Welcome to IBCOINEX</title>

    <meta name="description" content="We are online">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="IBCOINEX LIMITED - Welcome to IBCOINEX">
    <meta itemprop="description" content="We are online">
    <meta itemprop="image" content="{% static 'temp/images/meta.png' %}">

    <link rel="icon" href="{% static 'img/op3.png' %}" type="image/png" />

    <link href="{% static 'temp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="{% static 'temp/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Magnific -->
    <link rel="stylesheet" href="{% static 'temp/css/line.css' %}">
    <link href="{% static 'temp/css/flexslider.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'temp/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Slider -->
    <link rel="stylesheet" href="{% static 'temp/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'temp/css/owl.theme.default.min.css' %}" />
    <!-- Main Css -->
    <link href="{% static 'temp/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'temp/css/colors/default.css' %}" rel="stylesheet">

</head>

<body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        {
            tawk to codess
        }
    </script>


    <!-- Navbar STart -->
    <header id="topnav" class="sticky defaultscroll">
        <div class="container">
            <!-- Logo container-->
            <div>
                <a class="logo" href="/">
                    <img src="{% static 'img/op3.png' %}" height="35" alt="" class="mr-2">
                </a>
            </div>
            <div class="buy-button">

                <a href="{% url 'accounts:login' %}" class="mr-3 btn btn-primary login-btn-success">login</a>
                <a href="{% url 'accounts:register' %}" class="btn btn-primary login-btn-success ">Get Started</a>


            </div>
            <!--end login button-->
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>

            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li><a href="{% url 'about' %}">About us</a></li>


                </ul>


                </ul>
                <!--end navigation menu-->
                <div class="buy-menu-btn d-none">
                    <a href="{% url 'accounts:login' %}" target="_blank" class="btn btn-success">Login</a>
                    <a href="{% url 'accounts:register' %}" target="_blank" class="btn btn-success">Get Started</a>
                </div>
                <!--end login button-->
            </div>
            <!--end navigation-->
        </div>
        <!--end container-->
    </header>
    <!--end header-->
    <!-- Navbar End -->

    <!-- Hero Start -->
    <section class="bg-half bg-light d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="text-center col-lg-12">
                    <div class="page-next-level">
                        <h4 class="title">About Us</h4>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="mb-0 bg-white rounded shadow breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">IBCOINEX LIMITED</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Hero End -->

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="overflow-hidden text-white shape">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- About Start -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="pt-2 mt-4 col-lg-5 col-md-5 mt-sm-0 pt-sm-0">
                    <div class="position-relative">
                        <img src="http://iBcoinex.ltd/storage/app/public/photos/nIwbFVY7tSn5g177MVvWrJ9KtLDymTFzp039NfE6.jpg" class="mx-auto rounded img-fluid d-block" alt="">
                        <div class="play-icon">
                            <!-- <a href="http://vimeo.com/287684225" class="play-btn video-play-icon">
                                <i class="bg-white shadow mdi mdi-play text-primary rounded-circle"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="pt-2 mt-4 col-lg-7 col-md-7 mt-sm-0 pt-sm-0">
                    <div class="section-title ml-lg-4">
                        <h4 class="mb-4 title">Who we are</h4>
                        <p class="text-muted">IBCOINEX LIMITED is a solution for creating an investment management platform. It is suited for hedge or mutual fund managers and also Forex, stocks, bonds and cryptocurrency traders who are looking at running pool trading system.
                            IBCOINEX LIMITED simplifies the investment, monitoring and management process. With a secure and compelling mobile-first design, together with a default front-end design, it takes few minutes to setup your own investment management
                            or pool trading platform.</p>
                        <a href="{% url 'accounts:login' %}" class="mt-3 btn btn-primary">Invest now<i
                                class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>


    <!-- About End -->

    <!-- Team Start -->
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="pb-2 mb-4 text-center section-title">
                        <h6 class="text-primary">Get Started</h6>
                        <h4 class="mb-4 title">How to get started ?</h4>

                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="pt-2 mt-4 col-md-4">
                    <div class="text-center bg-transparent border-0 card features feature-clean work-process process-arrow">
                        <div class="mx-auto text-center icons text-primary">
                            <i class="mb-0 rounded uil uil-user-check d-block h3"></i>
                        </div>

                        <div class="card-body">
                            <h5 class="text-dark">Create an Account</h5>
                            <p class="mb-0 text-muted">Create an account with us using your preffered email/username</p>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="pt-2 mt-4 col-md-4 mt-md-5 pt-md-3">
                    <div class="text-center bg-transparent border-0 card features feature-clean work-process process-arrow">
                        <div class="mx-auto text-center icons text-primary">
                            <i class="mb-0 rounded uil uil-transaction d-block h3"></i>
                        </div>

                        <div class="card-body">
                            <h5 class="text-dark">Make a Deposit</h5>
                            <p class="mb-0 text-muted">Make A deposit with any of your preffered currency</p>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="pt-2 mt-4 col-md-4 mt-md-5 pt-md-5">
                    <div class="text-center bg-transparent border-0 card features feature-clean work-process d-none-arrow">
                        <div class="mx-auto text-center icons text-primary">
                            <i class="mb-0 rounded uil uil-analysis d-block h3"></i>
                        </div>

                        <div class="card-body">
                            <h5 class="text-dark">Start Trading/Investing</h5>
                            <p class="mb-0 text-muted">Start trading with Indices commodities e.tc</p>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Team End -->

    <!-- Sign up Section Start -->
    <section class="overflow-hidden section mt-60 bg-soft-primary">
        <div class="container">
            <div class="p-4 roundedd bg-primary p-lg-5">
                <div class="row align-items-end">
                    <div class="col-md-8">
                        <div class="text-center section-title text-md-left">
                            <h4 class="mb-3 text-white title title-dark">The Better Way to Trade &amp; Invest</h4>
                            <p class="mb-0 text-white">IBCOINEX LIMITED helps over 2 million customers achieve their financial goals by helping them trade and invest with ease</p>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="mt-4 col-md-4 mt-sm-0">
                        <div class="text-center text-md-right">
                            <a href="http://iBcoinex.ltd/register" class="pt-3 pb-3 pl-4 pr-4 btn btn-light">Create Free
                                Account</a>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div>
        <!--end container-->
    </section>
    <!-- End Sign up Section  -->





    <!-- Footer Start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="pb-0 mb-0 col-lg-4 col-12 mb-md-4 pb-md-2">
                    <h5 class="text-light footer-head">IBCOINEX LIMITED</h5>
                    <p class="mt-4">We are online</p>

                    <ul class="mt-4 mb-0 list-unstyled social-icon social">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                    data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                    data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                    data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                    </ul>
                    <!--end icon-->

                </div>
                <!--end col-->

                <div class="pt-2 mt-4 col-lg-4 col-md-4 mt-sm-0 pt-sm-0">
                    <h5 class="text-light footer-head">Useful Links</h5>
                    <ul class="mt-4 list-unstyled footer-list">
                        <li><a href="{% url 'home' %}" class="text-foot"><i class="mr-1 mdi mdi-chevron-right"></i>
                                Home</a></li>
                        <li><a href="{% url 'about' %}" class="text-foot"><i class="mr-1 mdi mdi-chevron-right"></i>
                                About us</a></li>
                        <li><a href="{% url 'contact_us' %}" class="text-foot"><i class="mr-1 mdi mdi-chevron-right"></i>
                                Contact Us</a></li>
                        
                    </ul>
                </div>
                <!--end col-->

                <div class="pt-2 mt-4 col-lg-4 col-md-4 mt-sm-0 pt-sm-0">
                    <h5 class="text-light footer-head">Contact Details</h5>
                    <div class="mt-2">
                        <h6 class="text-foot"><i class="mr-1 mdi mdi-home"> </i> Head Office</h6>
                        <p>865678 WATER VIEW LONDON, UK</p>
                        <h6><i class="mr-1 mdi mdi-email"> </i>Email Address</h6>
                        <p>info@iBcoinex.org</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </footer>

    <!--end footer-->
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="text-sm-left">
                        <p class="mb-0">
                            © Copyright 2023 IBCOINEX LIMITED All Rights Reserved.
                        </p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </footer>
    <!--end footer-->
    <!-- Footer End -->



    <!-- javascript -->
    <script src="http://ivcoinex.ltd/temp/js/jquery-3.5.1.min.js"></script>
    <script src="http://ivcoinex.ltd/temp/js/bootstrap.bundle.min.js"></script>

    <!-- SLIDER -->
    <script src="http://ivcoinex.ltd/temp/js/owl.carousel.min.js"></script>
    <script src="http://ivcoinex.ltd/temp/js/owl.init.js"></script>
    <!-- Icons -->
    <script src="http://ivcoinex.ltd/temp/js/feather.min.js"></script>
    <script src="http://ivcoinex.ltd/temp/js/bundle.js"></script>

    <script src="http://ivcoinex.ltd/temp/js/app.js"></script>
    <script src="http://ivcoinex.ltd/temp/js/widget.js"></script>
        <script type="text/javascript">
            function googleTranslateElementInit2() {
            new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
        <script type="text/javascript">
            eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
            $(function(){
                        $('.selectpicker').selectpicker();
                    });
        </script>
</body>

</html>