<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
                            
<script type="text/javascript">
    (function () {
        var head = document.getElementsByTagName("head").item(0);
        var script = document.createElement("script");
        
        var src = (document.location.protocol == 'https:' 
            ? 'https://www.formilla.com/scripts/feedback.js' 
            : 'http://www.formilla.com/scripts/feedback.js');
        
        script.setAttribute("type", "text/javascript"); 
        script.setAttribute("src", src); script.setAttribute("async", true);        

        var complete = false;
        
        script.onload = script.onreadystatechange = function () {
            if (!complete && (!this.readyState 
                    || this.readyState == 'loaded' 
                    || this.readyState == 'complete')) {
                complete = true;
                Formilla.guid = 'cs7b1220-46a5-4b3a-a3b0-b72feff4a3eb';
                Formilla.loadWidgets();                
            }
        };

        head.appendChild(script);
    })();
</script>
                                    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="9I2up1iCY8MRp5B86FaGgvVOKTeuzEMI6jkSlKIb">
    <title>IBCOINEX LIMITED | Welcome to IBCOINEX</title>

    <meta name="description" content="We are online">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="IBCOINEX LIMITED - Welcome to IBCOINEX">
    <meta itemprop="description" content="We are online">
    <meta itemprop="image" content="http://ivcoinex.ltd/temp/images/meta.png">

    <link rel="icon" href="{% static 'img/op3.png' %}" type="image/png" />

    <link href="{% static 'temp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="{% static 'temp/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Magnific -->
    <link rel="stylesheet" href="{% static 'temp/css/line.css' %}">
    <link href="{% static 'temp/css/flexslider.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'temp/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Slider -->
    <link rel="stylesheet" href="{% static 'temp/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'temp/css/owl.theme.default.min.css' %}" />
    <!-- Main Css -->
    <link href="{% static 'temp/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'temp/css/colors/default.css' %}" rel="stylesheet">

    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="T9eYcLMgQ3eoBOVIbfNhrXWQkZDkUwkSTPK2Hjpy">
    <title>IBCOINEX LIMITED | User Account Dashboard</title>
    <link rel="icon" href="{% static 'img/op3.png' %}" type="image/png" />

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="{% static 'dash2/libs/%40fortawesome/fontawesome-pro/css/all.min.css' %}">
    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'dash2/libs/fullcalendar/dist/fullcalendar.min.css' %}">
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="{% static 'dash2/css/purpose.css' %}" id="stylesheet">
    <link rel="stylesheet" href="{% static 'dash2/libs/animate.css' %}/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'dash2/libs/sweetalert2/dist/sweetalert2.min.css' %}">
    <script src="{% static 'dash2/libs/sweetalert/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min">
    <!-- Bootstrap Notify -->
    <script src="{% static 'dash2/libs/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    
</head>

<body class="application application-offset">


    <!-- Application container -->
    <div class="container-fluid container-application">

        <!-- Sidenav -->
        <div class="sidenav" id="sidenav-main">
            <!-- Sidenav header -->
            <div class="sidenav-header d-flex align-items-center">
                <a class="navbar-brand" href="#">
            <img src="{% static 'img/op3.png' %}" class="navbar-brand-img" alt="logo">
        </a>
                <div class="ml-auto">
                    <!-- Sidenav toggler -->
                    <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="bg-white sidenav-toggler-line"></i>
                            <i class="bg-white sidenav-toggler-line"></i>
                            <i class="bg-white sidenav-toggler-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User mini profile -->
            <div class="text-center sidenav-user d-flex flex-column align-items-center justify-content-between">
                <!-- Avatar -->
                <div>
                    <a href="#" class="avatar rounded-circle avatar-xl">
                <i class="fas fa-user-circle fa-4x"></i>
            </a>
                    <div class="mt-4">
                        <h5 class="mb-0 text-white">  {{ user.full_name }}</h5>
                        <span class="mb-3 text-sm text-white d-block opacity-8">online</span>
                        <a href="#" class="shadow btn btn-sm btn-white btn-icon rounded-pill hover-translate-y-n3">
                    <span class="btn-inner--icon"><i class="far fa-coins"></i></span>
                    <span class="btn-inner--text">${{ user.balance}}</span>
                </a>
                    </div>
                </div>
                <!-- User info -->
                <!-- Actions -->
                <div class="mt-4 w-100 actions d-flex justify-content-between">


                </div>
            </div>
            <!-- Application nav -->
            <div class="clearfix nav-application">
                        <a href="#" class="text-sm btn btn-square active">
                    <span class="btn-inner--icon d-block"><i class="far fa-home fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">Home</span>
                </a>
                        <a href="{% url 'transactions:payment_create' %}" class="text-sm btn btn-square  ">
                    <span class="btn-inner--icon d-block"><i class="far fa-download fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">Deposit</span>
                </a>
                        <a href="{% url 'transactions:withdrawals' %}" class="text-sm btn btn-square  ">
                    <span class="btn-inner--icon d-block"><i class="fas fa-arrow-alt-circle-up fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">Withdraw</span>
                </a>
                        <a href="{% url 'transactions:trading_history' %}" class="text-sm btn btn-square ">
                    <span class="btn-inner--icon d-block"><i class="fal fa-history fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">Profit History</span>
                </a>
                        <a href="{% url 'transactions:accounthistory' %}" class="text-sm btn btn-square ">
                    <span class="btn-inner--icon d-block"><i class="fas fa-money-check-alt fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">Transactions</span>
                </a>
                        <a href="{% url 'transactions:asset_balance' %}" class="text-sm btn btn-square  ">
                        <span class="btn-inner--icon d-block"><i class="fab fa-stack-exchange fa-2x"></i></span>
                        <span class="pt-2 btn-inner--icon d-block">Swap Crypto</span>
                    </a>
                        <a href="{% url 'transactions:withdrawal' %}" class="text-sm btn btn-square ">
                        <span class="btn-inner--icon d-block"><i class="fas fa-exchange fa-2x"></i></span>
                        <span class="pt-2 btn-inner--icon d-block">Transfer funds</span>
                    </a>
                        <a href="{% url 'transactions:subtrade' %}" class="text-sm btn btn-square ">
                        <span class="btn-inner--icon d-block"><i class="far fa-receipt fa-2x"></i></span>
                        <span class="pt-2 btn-inner--icon d-block">Managed Accounts</span>
                    </a>
                        <a href="{% url 'transactions:acct_profile' %}" class="text-sm btn btn-square ">
                    <span class="btn-inner--icon d-block"><i class="fas fa-address-card fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">Profile</span>
                </a>

                        <a href="{% url 'transactions:trading_plan' %}" class="text-sm btn btn-square ">
                    <span class="btn-inner--icon d-block"><i class="fas fa-hand-holding-seedling fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">Trading Plans</span>
                </a>

                        <a href="{% url 'transactions:myplan' %}" class="text-sm btn btn-square  ">
                    <span class="btn-inner--icon d-block"><i class="far fa-hand-holding-seedling fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">My Plans</span>
                </a>
                        <a href="{% url 'transactions:referral' %}" class="text-sm btn btn-square ">
                    <span class="btn-inner--icon d-block"><i class="fas fa-retweet fa-2x"></i></span>
                    <span class="pt-2 btn-inner--icon d-block">Referrals</span>
                </a>
            </div>
            <!-- Misc area -->
            <div class="card bg-gradient-warning">
                <div class="card-body">
                    <h5 class="text-white">Need Help!</h5>
                    <p class="mb-4 text-white">
                        Contact our 24/7 customer support center
                    </p>
                    <a href="{% url 'contact_us' %}" class="btn btn-sm btn-block btn-white rounded-pill">Contact Us</a>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="main-content position-relative">
            <!-- Main nav -->
            <!-- Main nav -->
            <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border" id="navbar-main">
                <div class="container-fluid">
                    <!-- Brand + Toggler (for mobile devices) -->
                    <div class="pl-4 d-block d-md-none">
                        <a class="navbar-brand" href="#">
                <img src="{% static 'img/op3.png' %}" class="navbar-brand-img" alt="...">
            </a>
                    </div>

                    <!-- User's navbar -->
                    <div class="ml-auto navbar-user d-lg-none">
                        <ul class="flex-row navbar-nav align-items-center">
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i><img style="max-width:20px;" src="https://www.pinclipart.com/picdir/big/532-5328945_menu-bar-icon-white-clipart-png-download-menu.png
" /> </i></a>
                            </li>


                            <li class="nav-item dropdown dropdown-animate">
                                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm rounded-circle">
                            <i class="fas fa-user-circle fa-2x"></i>
                        </span>
                    </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                                    <h6 class="px-0 dropdown-header">Hi,  {{ user.full_name }}!</h6>
                                    <a href="#/account-settings" class="dropdown-item">
                            <i class="far fa-user"></i>
                            <span>My profile</span>
                        </a>
                                    <div class="dropdown-divider"></div>

                <a class="dropdown-item text-danger" href="{% url 'accounts:logout' %}">
                         <i class="far fa-sign-out-alt"></i>
                         <span>Logout</span>
                        </a>
                            
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Navbar nav -->
                    <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">

                        <!-- Right menu -->
                        <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i><img style="max-width:20px;" src="https://www.pinclipart.com/picdir/big/532-5328945_menu-bar-icon-white-clipart-png-download-menu.png
" /> </i></a>
                            </li>


                            <li class="nav-item dropdown dropdown-animate">
                                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="media media-pill align-items-center">
                                        <span class="avatar rounded-circle">
                                <i class="fas fa-user-circle fa-2x"></i>
                            </span>
                                        <div class="ml-2 d-none d-lg-block">
                                            <span class="mb-0 text-sm font-weight-bold"> {{ user.full_name }}</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                                    <h6 class="px-0 dropdown-header">Hi,  {{ user.full_name }}!</h6>
                                    <a href="#" class="dropdown-item">
                            <i class="far fa-user"></i>
                            <span>My profile</span>
                        </a>
                                    <div class="dropdown-divider"></div>

                                  <a class="dropdown-item text-danger" href="{% url 'accounts:logout' %}">
                         <i class="far fa-sign-out-alt"></i>
                         <span>Logout</span>
                        </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>




            <!-- Page content -->
            <div class="page-content">

                <!-- Page title -->
                <div class="page-title">
                    <div class="row justify-content-between align-items-center">
                        <div class="mb-3 col-md-6 mb-md-0">
                            <h5 class="mb-0 text-white h3 font-weight-400">Welcome,  {{ user.full_name }}!</h5>
                        </div>
                    </div>
                </div>
                <div>
                </div>
                <div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-modern alert-primary">

                            <span class="badge badge-primary badge-pill">
                    New
                </span>
                            <span class="alert-content">Welcome to IBCOINEX</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="nk-block-head-content">
                                            <h5 class="text-primary h5">Account Summary</h5>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card card-stats">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-1 text-muted">Account ID/Number</h6>
                                                        <span class="mb-0 h5 font-weight-bold">{{ user.account_no }}</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="text-white icon bg-gradient-primary rounded-circle icon-shape">
                                                            <i class="fas fa-sack-dollar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    <div class="col-xl-4 col-md-6">
                                        <div class="card card-stats">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-1 text-muted">Account balance</h6>
                                                        <span class="mb-0 h5 font-weight-bold">${{ user.balance }}</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="text-white icon bg-gradient-primary rounded-circle icon-shape">
                                                            <i class="fas fa-sack-dollar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card card-stats">

                                            <!-- Card body -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-1 text-muted">Total Profit</h6>
                                                        <span class="mb-0 h5 font-weight-bold">${{ user.total_profit }}</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="text-white icon bg-gradient-primary rounded-circle icon-shape">
                                                            <i class="fas fa-coins"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card card-stats">
                                            <!-- Card body -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-1 text-muted">Bonus</h6>
                                                        <span class="mb-0 h5 font-weight-bold">${{ user.bonus }}</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="text-white icon bg-gradient-primary rounded-circle icon-shape">
                                                            <i class="fas fa-gift"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card card-stats">
                                            <!-- Card body -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-1 text-muted">Referral Bonus</h6>
                                                        <span class="mb-0 h5 font-weight-bold">${{ user.referral_bonus }}</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="text-white icon bg-gradient-primary rounded-circle icon-shape">
                                                            <i class="fas fa-gifts"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card card-stats">
                                            <!-- Card body -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-1 text-muted">Total Deposit</h6>
                                                        <span class="mb-0 h5 font-weight-bold">
                                                                                                                                                    <span
                                                        class="mb-0 h5 font-weight-bold ">${{ user.total_deposit }}</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="text-white icon bg-gradient-primary rounded-circle icon-shape">
                                                            <i class="fas fa-arrow-alt-circle-down"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card card-stats">
                                            <!-- Card body -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-1 text-muted">Total Withdrawal</h6>
                                                        <span class="mb-0 h5 font-weight-bold ">${{user.total_withdrawal}}</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="text-white icon bg-gradient-primary rounded-circle icon-shape">
                                                            <i class="fas fa-arrow-circle-up"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="mt-4 row ">
                                    <div class="col-12">
                                        <div class="nk-block-head-content">

                                            <h5 class="text-primary h5">Active Plan(s) <span class="text-base count">(0)</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-4 row">
                                            <div class="col-md-12">
                                                <div class="py-4 card">
                                                    <div class="text-center card-body">
                                                        <p>You do not have an active investment plan at the moment.</p>
                                                        <a href="{% url 'transactions:trading_plan' %}" class="px-3 btn btn-primary">Buy a
                                                    plan</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="mt-4 row">
                                    <div class="col-12">
                                        <div class="nk-block-head-content">
                                            <h6 class="text-primary h5">Recent transactions <span class="text-base count">(0)</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-2 text-right">
                                                    <a href="{% url 'transactions:trading_history' %}"> <i class="fas fa-clipboard"></i> View
                                            all
                                            transactions</a>
                                                </div>
                                                <div class=" table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr class="bg-light">
                                                                <th>Date</th>
                                                                <th>Type</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <td colspan="3">
                                                                No record yet
                                                            </td>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="mt-4 row">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="text-black">Refer Us & Earn</h5>
                                                <p>Use the below link to invite your friends.</p>
                                                <div class="mb-3 input-group">
                                                    <input type="text" class="form-control myInput readonly" value="http://ibcoinex.ltd/ref/{{ user.username }}" id="reflink" readonly>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-primary" onclick="myFunction()" type="button">
                                                <i class="fas fa-copy"></i>
                                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Footer -->
            <div class="pt-5 pb-4 footer footer-light sticky-bottom" id="footer-main">
                <div class="text-center row text-sm-left align-items-sm-center">
                    <div class="col-sm-6">
                        <p class="mb-0 text-sm">All Rights Reserved &copy; IBCOINEX LIMITED 2023
                        </p>
                    </div>
                    <div class="text-right col-sm-6 text-md-center">
                        <div id="google_translate_element"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <script src="/livewire/livewire.js?id=c69d0f2801c01fcf8166" data-turbo-eval="false" data-turbolinks-eval="false"></script>

    <!-- Scripts -->
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="https://ivcoinex.ltd/dash2/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="https://ivcoinex.ltd/dash2/libs/progressbar.js/dist/progressbar.min.js"></script>
    <script src="https://ivcoinex.ltd/dash2/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="https://ivcoinex.ltd/dash2/libs/moment/min/moment.min.js"></script>
    <script src="https://ivcoinex.ltd/dash2/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="https://ivcoinex.ltd/dash2/libs/sweetalert/sweetalert.min.js "></script>
    <!-- Purpose JS -->
    <script src="https://ivcoinex.ltd/dash2/js/purpose.js"></script>
    <!-- Bootstrap Notify -->
    <script src="https://ivcoinex.ltd/dash2/libs/bootstrap-notify/bootstrap-notify.min.js "></script>



    <script src="https://ivcoinex.ltd/dash2/js/custom.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min.js">
    </script>



    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
</body>
        <script type="text/javascript">
            function googleTranslateElementInit2() {
            new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
        <script type="text/javascript">
            eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
            $(function(){
                        $('.selectpicker').selectpicker();
                    });
        </script>
</html>
