@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url("https://fonts.gstatic.com/s/didactgothic/v11/ahcfv8qz1zt6hCC5G4F_P4ASlUuYoA.woff") format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url("https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzQ.woff") format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff") format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff") format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff") format('woff');
}

@font-face {
    font-family: 'Fiserv-First-Federal';
    src: url('../fonts/Fiserv-First-Federalf37c-eu9x3e.eot');
    src: url('../fonts/Fiserv-First-Federalf37c-eu9x3e.eot#iefix') format('embedded-opentype'), url('../fonts/Fiserv-First-Federalf37c-eu9x3e.ttf') format('truetype'), url('../fonts/Fiserv-First-Federalf37c-eu9x3e.woff') format('woff'), url('../fonts/Fiserv-First-Federalf37c-eu9x3e.svg#Fiserv-First-Federal') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Fiserv-First-Federal' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-laptop:before {
    content: "\e902";
}

.icon-first-federal-logo:before {
    content: "\e903";
}

.icon-ehl:before {
    content: "\e900";
}

.icon-fdic:before {
    content: "\e901";
}

.icon-wallet:before {
    content: "\e905";
}

/* ---------Overrides-----------*/
main, #page {
    z-index: 1;
}
body {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
    color: #000;
}

.page {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

a,
h1,
h3,
ul.List-Checkmark > li:before,
.checkmark:before,
[class*="subsection"][style*="url"] .show h2,
[class*="Subsection-Table"][style*="url"] > tbody > tr > td:first-of-type > table:not([class*="Table-"]) > * > tr > td.show h2 {
    color: #00529b;
}

h5 {
    font-weight: bold;
}

.Button1, .Button2 {
    border-radius: 2em;
    background-color: #00529b;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    font-size: .9rem;
}

ul.List-Checkmark > li:before {
    text-shadow: none;
}

.Table-Style caption {
    background-color: #00529b;
}

@media only screen and (max-width:667px) /*iPhone 6 Landscape*/ {
    .Table-Style {
        width: 100% !important;
    }
}

.Table-Product th {
    background-color: #00529b;
    border-right-color: #003a6e;
}

.Table-Product tr th:nth-child(2n+3) {
    background-color: #001789;
}

[class*="Table-Promo"] [class*="Table-Grid"] > tbody > tr,
[class*="subsection-promo"] [class*="Table-Grid"] > tbody > tr {
    background-color: transparent;
}

.Image-Shadow {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    max-width: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#gototop {
    z-index: 20500;
    bottom: 5rem;
}

@media only screen and (max-width:667px) /*iPhone 6 Landscape*/ {

    [class*="subsection"][style*="url"] .inner-content > table:not([class*="Table-"]) td.show,
    [class*="Subsection-Table"][style*="url"] > tbody > tr > td:first-of-type > table:not([class*="Table-"]) td.show {
        padding: 5% 3% 5% 3%;
    }

    [class*="subsection"][style*="url"].fade-left {
        background-position: right top;
    }

    [class*="subsection"][style*="url"].fade-right {
        background-position: left top;
    }
}

@media only screen and (max-width:414px) /*iPhone 6 Plus Portrait*/ {
    .home [class*="subsection"][style*="url"] .inner-content > table:not([class*="Table-"]) > * > tr > td.show {
        font-size: .8em;
    }
}

.subsection-promo-half:before {
    display: none !important;
}
section.subsection-promo-half:last-of-type {
    padding-bottom: 0;
}
.subsection-promo-half > .inner-content > table,
.subsection-promo-half > .inner-content > table > tbody,
.Subsection-Promo-Table-Half > tbody > tr > td > table,
.Subsection-Promo-Table-Half > tbody > tr > td > table > tbody {
    display: block;
    width: 100%;
}

.subsection-promo-half .inner-content,
.Subsection-Promo-Table-Half > tbody > tr > td > table {
    width: 100%;
    padding: 0;
}
   
    .subsection-promo-half tr,
    .Subsection-Promo-Table-Half > tbody > tr > td > table > tbody > tr {
        display: flex;
        align-items: center;
    }

        .subsection-promo-half td,
        .Subsection-Promo-Table-Half > tbody > tr > td > table > tbody > tr > td {
            width: 50%;
            padding: 0 !important;
            vertical-align: middle;
            display: block;
        }

    .subsection-promo-half .inner-content table:not([class*="Table-"]) td > *:not(img),
    .Subsection-Promo-Table-Half > tbody > tr > td:first-of-type table:not([class*="Table-"]) td > *:not(img) {
        padding-left: 3em;
        padding-right: 3em;
    }
        .subsection-promo-half .inner-content table:not([class*="Table-"]) td > img,
        .Subsection-Promo-Table-Half > tbody > tr > td:first-of-type table:not([class*="Table-"]) td > img {
            width: 100%;
            display: block;
            height: auto;
        }
        .subsection-promo-half .inner-content table:not([class*="Table-"]) td.show + td.show,
        .Subsection-Promo-Table-Half > tbody > tr > td:first-of-type table:not([class*="Table-"]) td.show + td.show {
            padding-left: 0 !important;
        }

@media only screen and (max-width:990px) {
    .subsection-promo-half td,
    .Subsection-Promo-Table-Half > tbody > tr > td > table > tbody > tr > td {
        padding: 1em;
    }
}

@media only screen and (max-width:768px) /*iPad Portait*/ {
    .subsection-promo-half tr,
    .Subsection-Promo-Table-Half > tbody > tr > td > table > tbody > tr {
        flex-wrap: wrap;
        flex-direction: column;
    }

        .subsection-promo-half td,
        .Subsection-Promo-Table-Half > tbody > tr > td > table > tbody > tr > td {
            width: 100%;
            padding-bottom: 1.5em;
            padding-top: 1.5em;
        }

            .subsection-promo-half td:first-child,
            .Subsection-Promo-Table-Half > tbody > tr > td > table > tbody > tr > td:first-child {
                padding: 0;
            }

    .subsection-promo-half .inner-content {
        padding-top: 0 !important;
    }
}

.subsection-promo-half .inner-content td:nth-child(2),
.Subsection-Promo-Table-Half > tbody > tr > td > table > tbody > tr > td:nth-child(2) {
    /* padding-left: 3em !important; */
    vertical-align: middle;
}

.subsection-promo-half .inner-content td.show > *:not(img) {
    padding-right: 3rem;
}

.subsection-promo-half .inner-content > table:not([class*="Table-"]) > * > tr > td > *:first-child:not(img) {
    padding-top: 1rem !important;
}

@media only screen and (max-width:668px) /*iPhone 6 Landscape*/ {

    .subsection-promo-half .inner-content table td.show,
    .Subsection-Promo-Table-Half > tbody > tr > td > table > tbody > tr > td {
        padding-bottom: 1.5em;
        padding-top: 1.5em;
    }
}

/*----------Slideshow------------*/
#hero-main:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,0.8) 30%,rgba(255,255,255,0) 70%);
    z-index: 2;
}

.mobile #hero-main {
    height: 550px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

@media only screen and (max-width:860px) {
    .mobile #hero-main {
        height: 500px;
    }
}

@media only screen and (max-width:667px) /*iPhone 6 Landscape*/ {
    .mobile #hero-main {
        height: 350px;
    }
}

.caption-container {
    width: 37%;
    min-height: 20em;
    top: 20%;
    z-index: 90;
}

.mobile .caption-container {
    top: 10%;
}

@media only screen and (max-width:860px) {
    .caption-container {
        width: 50%;
        top: 5%;
    }
}

.caption-container div.caption > * {
    padding-top: .5em;
}

.caption-container div.caption h2 {
    font-size: 2.125em;
    line-height: 1.125;
    color: #00529b;
}

.caption-container p {
    font-size: 1.25em;
}

.caption-container [class*="Button"] {
    /* font-size: 1.125rem; */
}

@media only screen and (max-width:667px) {
    .caption-container {
        width: 90%;
        top: 10%;
        left: 0;
        margin-left: 5%;
    }

    .csstransforms .slideshow .slide.active, .csstransforms .slideshow video.active {
        opacity: .3;
    }

    .slideshow .slide, .slideshow video {
        background-position: 60% 0;
    }

    #hero-main:after {
        display: none !important;
    }

    .caption-container {
        font-size: 16px;
    }

        .caption-container div.caption h2 {
            font-size: 1.75em;
        }

        .caption-container [class*="Button"] {
            font-size: 1rem;
        }
}

.slideshow-control-bar > button {
    display: none !important;
}

    .toc-active a,
    .slideshow-container-controls div a:hover,
    .slideshow-control-bar > button:hover {
        background-color: #0055a0 !important;
    }

    .slideshow-control-bar > button:hover {
        color: #fff;
    }

.slideshow-control-bar {
    bottom: 12em;
}

@media only screen and (max-width:1000px) {
    .slideshow-control-bar {
        bottom: 25%;
    }
}
/*---------Nav overrides----------*/
nav#primary > div > ul > li#logo {
    width: 17rem;
    padding: 0 1.111rem 0 0;
    margin-right: 7em;
}

nav#primary {
    background-color: rgba(255,255,255,.75);
    box-shadow: 0px 0px 20px 0px rgba(84,102,112,0.5);
    z-index: 2001;
}

.scroll nav#primary {
    background-color: rgba(255,255,255,1);
}

.mobile nav#primary {
    /* max-height: 63px; */
    /* overflow: hidden; */
}

.mobile.opennav nav#primary {
    background-color: #fff;
    display: block;
    max-height: 5000px;
    height: auto; /* overflow: visible; */
}

nav#primary > div > ul {
    max-width: 100%;
}

    nav#primary > div > ul > li > a {
        color: #000;
        font-size: 1em;
        flex-direction: column;
        padding: 1.125rem 0.75rem;
    }

    nav#primary > div > ul > li > div div h3 {
        font-weight: bold;
    }

    nav#primary > div > ul > li > div div ul li a {
        color: #535353;
    }

        nav#primary > div > ul > li > div div ul li a:hover {
            color: #0055a0;
        }

@media only screen and (min-width:1000px) /* desktop only */ {
    nav#primary > div > ul > li > a span {
        font-size: 1.333em;
        color: #0055a0;
        line-height: 1;
        font-weight: bold;
    }
}

@media only screen and (max-width:1000px) {
    nav#primary .inner-content > div:first-child {
        display: flex;
        justify-content: space-between;
        padding: .5em 1em;
        background-color: #fff;
        position: relative;
        z-index: 11;
    }
}

nav#primary #menuopen,
nav#primary #loginopen {
    /* color: #00529b; */
}

nav#primary .Button1:hover {
    background-color: #fff;
    /* border-color: #00529b; */
}

.opennav nav#primary #menuopen {
    color: rgba(0,82,155,.7);
}

nav#primary > div > ul > li:nth-child(2) > div {
    left: -5rem;
}

nav#primary > div > ul > li:nth-child(3) > div {
    left: -4rem;
}

nav#primary > div > ul > li:nth-child(4) > div {
    left: -32rem;
    right: auto !important;
}

nav#primary > div > ul > li:last-of-type > div {
    left: auto;
    right: -5rem !important;
}

@media only screen and (min-width: 1001px) {
    nav#primary > div > ul > li > a:after {
        background: #00529b;
    }
}
/* Styles to keep panels from falling out of view. */
@media screen and (min-width: 1001px) {
    nav#primary > div > ul > li.edge {
        position: static;
    }
}

@media screen and (min-width: 1001px) {
    nav#primary > div > ul > li.edge > div {
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
    }
}

@media screen and (min-width: 1001px) {
    nav#primary > div > ul > li.edge > div > * {
        min-width: 0;
        flex-grow: 1;
    }
}

@media only screen and (min-width: 1001px) /* when scroll */ {
    .no-touch .scroll nav#primary > div > ul > li > a {
        padding: .5rem 0.750rem;
        font-size: .8em;
    }

    .no-touch .scroll nav#primary > div > ul > li#logo {
        width: 10em;
        margin-right: 10em;
    }

    nav#primary > div > ul > li {
        min-height: 2em;
    }
}
/*---------homenav overrides----------*/
.desktop #homenav {
    position: absolute;
    z-index: 95;
}

#homenav ul.nav2 li a.homenavdoor h2 {
    color: #000;
}

.homeicon:before {
    font-family: 'Fiserv-First-Federal';
    top: .55em;
    margin-left: -.5em;
    line-height: 1;
    text-align: center;
    color: #0055a0;
}

.homeicon.icon-wallet:before {
    font-size: 1.25em;
}

.homeicon.fa-home:before {
    font-size: 1.55em;
    top: .35em;
    margin-left: -.45em;
}



.homeicon.icon-laptop:before {
    font-size: 1.2em;
    margin-left: -.75em;
}



.homeicon.icon-first-federal-logo:before {
    font-size: 1.2em;
    margin-left: -.7em;
    top: .65em;
}

.mobile .homeicon {
    width: 100px;
    height: 100px;
    top: .6em;
}

    .mobile .homeicon:before {
        top: 0.40em;
    }

    .mobile .homeicon.fa-home:before {
        top: .25em;
    }

@media only screen and (max-width:667px) /*iPhone 6 Landscape*/ {
    .mobile .homeicon {
        top: 11px;
        left: 25vw;
        width: 70px;
        height: 70px;
    }

        .mobile .homeicon:before {
            font-size: 1em;
            top: .35em;
        }

        .mobile .homeicon.fa-home:before {
            font-size: 1.25em;
            top: .2em;
        }

        .mobile .homeicon.icon-laptop:before {
            font-size: .85em;
            top: .5em;
        }

        .mobile .homeicon.icon-first-federal-logo:before {
            font-size: .8em;
            top: .5em;
        }
}

@media only screen and (max-width:500px) {
    .mobile #homenav .inner-content ul.nav2 li a.homenavdoor {
        padding: 14px 5% 0 25vw;
    }

    .mobile .homeicon {
        top: 10px;
        left: 5vw !important;
        width: 56px;
        height: 56px;
    }

        .mobile .homeicon:before {
            font-size: .8em;
            /* line-height: 72px; */
            margin-top: -2px;
            margin-left: -15px;
        }

        .mobile .homeicon.fa-home:before {
            font-size: .9em;
            margin-top: 1px;
            margin-left: -16px;
        }

        .mobile .homeicon.icon-laptop:before {
            font-size: .6em;
            top: .7em;
            margin-left: -17px;
        }

        .mobile .homeicon.icon-first-federal-logo:before {
            font-size: .6em;
            top: .7em;
            margin-left: -17px;
        }
}

.homeicon {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, .5);
}

    .homeicon:after {
        content: '';
        position: absolute;
        top: -12px;
        left: -12px;
        border-radius: 50%;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 12px solid rgba(255,255,255,.7);
        background-clip: padding-box;
        -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1);
    }

@media only screen and (max-width:500px) {
    .homeicon:after {
        border-width: 10px !important;
        top: -10px;
        left: -10px;
    }
}

#homenav ul.nav2 li a.homenavdoor h2 span {
    display: block;
    line-height: 1.25;
}

.desktop .homenavContent {
    border-top-color: #0055a0;
}

#homenav .inner-content .homenavContent h2 {
    color: #0055a0;
}

@media only screen and (min-width: 1001px) {
    #homenav ul.nav2 li .homenavContent ul li:hover {
        padding-right: 0;
        padding-left: 5px;
    }

    .desktop .inner-content .homenavContent a:hover {
        color: #0055a0 !important;
    }
}

#homenav + section {
    position: relative;
    z-index: 2000;
}

#curve {
    position: absolute;
    width: 100%;
    height: 14em;
    overflow: hidden;
    bottom: 0px;
    z-index: 90;
    background-image: url("../images/bg-curve.png");
    background-repeat: no-repeat;
    background-position: center top;
    /* opacity: .5; */
}

.desktop #curve {
    background-size: cover;
}

.mobile #curve {
    background-size: 150%;
    background-position: center bottom;
    height: 14em;
}
/*---------Structure Overrides----------------*/
header .inner-content {
    padding-top: 0;
    padding-bottom: 0;
}

[class*="subsection"] {
    border-top: 1px solid #d6d6d6;
}

    [class*="subsection"][style*="url"]:before, [class*="Subsection-Table"][style*="url"]:before {
        height: 100%;
    }

[class*="subsection-promo"]:before {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    font-family: 'Fiserv-First-Federal';
    content: "\e903";
    font-size: 49em;
    line-height: 0;
    z-index: 1;
    opacity: .1;
    overflow: hidden;
    color: #6d6d6d;
}

[class*="subsection-promo-blue"]:before {
    color: #fff;
}

[class*="subsection-promo"] .inner-content,
[class*="Subsection-Table-Promo"] > tbody > tr > td {
    text-align: center;
}

    [class*="subsection-promo"] .inner-content > table:not[class],
    [class*="Subsection-Table-Promo"] > tbody > tr > td > table:not[class] {
        padding: 2em 10em 1.5em 10em;
    }

    [class*="subsection-promo"] .inner-content > table[class*="Grid"] tr,
    [class*="Subsection-Table-Promo"] > tbody > tr > td > table[class*="Grid"] tr {
        align-items: center;
        flex-wrap: nowrap;
    }

    [class*="subsection-promo"] .inner-content > table[class*="Grid"] td,
    [class*="Subsection-Table-Promo"] > tbody > tr > td > table[class*="Grid"] td {
        padding: 1em;
        font-size: 1.125em;
    }

@media only screen and (max-width:414px) /*iPhone 6 Plus Portrait*/ {
    [class*="subsection-promo"] .inner-content,
    [class*="Subsection-Table-Promo"] > tbody > tr > td {
        font-size: .8em;
    }

        [class*="subsection-promo"] .inner-content > table[class*="Grid"] tr + tr,
        [class*="Subsection-Table-Promo"] > tbody > tr > td > table[class*="Grid"] tr + tr {
            margin: .5em;
        }
}

section:last-of-type,
[class*="subsection"][style*="url"]:last-of-type {
    padding-bottom: 4em;
}

@media only screen and (min-width: 668px) {
    .home [class*="subsection"][style*="url"] .inner-content td.show,
    .home [class*="Subsection-Table"][style*="url"] > tbody > tr > td:first-child td.show {
        min-height: 30em;
    }
}

.subsection-promo-blue + [class*="subsection"] {
    border-top: 0;
}

.Subsection-Table-Promo-Blue > tbody > tr,
.subsection-promo-blue {
    background: #00529b;
    color: #fff;
    border-top: 0;
}

    .Subsection-Table-Promo-Blue > tbody > tr > td *,
    .subsection-promo-blue * {
        color: #fff;
    }

    .Subsection-Table-Promo-Blue > tbody > tr > td [class*="Button"],
    .subsection-promo-blue [class*="Button"] {
        background-color: #fff;
        color: #00529b;
    }

.Subsection-Table-Promo-White > tbody > tr,
.subsection-promo-white {
    background: #fff;
}

[class*="subsection"][style*="url"] .inner-content > table,
[class*="Subsection-Table"][style*="url"] > tbody > tr > td:first-of-type > table {
    width: 100%;
}

@media only screen and (max-width: 667px) {
    .inner-content,
    [class*="Subsection-Table"] > tbody > tr > td:first-of-type {
        padding-top: 2em !important;
    }
}

footer {
    background-color: #1964a9;
    color: #fff;
    margin-top: 0;
    position: relative;
    padding-top: 2em;
}

    footer:before {
        content: '';
        background-image: url("../images/curve-footer.svg");
        background-position: center bottom;
        background-repeat: no-repeat;
        /*background-size: 112%;*/
        background-size: 140%;
        position: absolute;
        /*top: -148px;*/
        top: -7.8rem;
        width: 100%;
        /*height: 150px;*/
        height: 8rem;
        z-index: 1;
    }

    footer:after {
        display: block;
        position: absolute;
        top: -5.8rem;
        height: calc(100% + 5.8rem);
        width: 100%;
        left: 0;
        font-family: 'Fiserv-First-Federal';
        content: "\e903";
        font-size: 59rem;
        text-indent: -16rem;
        line-height: .2;
        z-index: 1;
        opacity: .1;
        overflow: hidden;
    }

    footer .inner-content {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 25%;
        justify-content: space-between;
    }

@media only screen and (max-width:667px) /*iPhone 6 Landscape*/ {
    footer .inner-content {
        flex-direction: column;
        padding-top: 0 !important;
        font-size: .8em;
    }
}

footer .inner-content > div {
    padding-right: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    flex-grow: 1;
}

footer ul,
footer ul li {
    margin-left: 0;
    padding-left: 0;
}

    footer ul li {
        padding: .25em 0;
    }

footer h3 {
    font-size: 1.3em;
    color: #fff;
    margin-top: 0;
    padding-top: 0;
}

footer a {
    color: #fff;
}

footer .inner-content div.awards {
    flex-grow: 2 !important;
    text-align: right;
    padding-right: 0 !important;
}

.awards img {
    margin-left: 1em;
}

@media only screen and (max-width:768px) /*iPhone 6 Landscape*/ {
    footer .inner-content div.awards {
        text-align: center;
        padding-right: 0 !important;
        padding-left: 0;
        width: 100%;
    }

    footer .awards img {
        margin: 0 auto;
    }
}

footer .copyright {
    width: 100%;
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    vertical-align: middle;
    margin-top: 1em;
}

footer #logos {
    margin-top: 0;
    margin-left: 1em;
}

    footer #logos i {
        font-size: 29px;
        padding: 0 10px;
        line-height: 1;
    }

@media only screen and (max-width:667px) /*iPhone 6 Landscape*/ {
    footer .copyright {
        flex-direction: column;
        text-align: center;
    }
}
/*LOGIN
-------------------------------------------------------------------------------------------*/
#hero-main > .inner-content {
    padding: 0 !important;
    z-index: 95;
}

#login {
    display: none;
    position: absolute;
    width: 340px;
    height: 340px;
    right: 0;
    top: 280px;
    margin: -123px 0 0 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.40); /* Old browsers */
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 10;
}

#login-inner {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    margin: 15px;
    background-color: rgba(255, 255, 255, .6);
    overflow: hidden;
}

#login-content {
    position: relative;
    width: auto;
    height: 190px;
    padding: 50px 26px 0 26px;
}

.desktop.home #login, .mobile.home #login {
    display: block;
}

@media only screen and (max-width:1024px), (max-height: 768px) {
    #login {
        top: 243px;
    }
}

@media only screen and (max-height: 700px) {
    #login {
        top: 223px;
    }
}

.mobile #login {
    top: 131px;
    margin-right: -342px;
}

.mobile.openob #login {
    top: 131px;
    right: 0;
    margin-right: 0;
}

@media only screen and (max-width:790px) {
    .mobile.openob #login {
        right: 50%;
        margin-right: -162px;
    }
}

.home.desktop.openob #login, .home.mobile.openob #login {
    opacity: 1;
    visibility: visible;
}

#login-content h2 {
    display: block;
    text-align: center;
    font-weight: normal;
    color: #0055a0;
    font-size: 32px;
    /* line-height: 33px; */
    margin: 0;
    padding: 0;
}

#select {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 15px 0 0 0;
}

.accessfield {
    position: relative;
    width: 100%;
    /* height: 95px; */
    margin: 0px;
    padding: 8px 0 0 0;
}

.obaccess, .obpass, .bob-remove {
    display: inline-block;
    width: 100%;
    height: 38px;
    margin: 10px 0 7px 0;
    padding: 10px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 19px;
    background-color: #fff;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 16px;
    line-height: 18px;
    color: #5a5a5a;
    border-width: 0px;
    border: 1px solid #0055a0;
}

    .obaccess:focus, .obpass:focus {
        background-color: #f7f7f7;
        outline: none;
    }

.obpass {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 35px;
}

.accessfield:after {
    position: absolute;
    display: block;
    top: 25px;
    left: 6%;
    font-family: 'fontAwesome';
    content: "\f023";
    color: #0055a0;
    font-size: 19px;
    line-height: 18px;
    z-index: 2;
}

.accessfield:after {
    top: 84px;
}

.btn_login {
    position: absolute;
    width: 66px;
    height: 38px;
    margin: 0;
    padding: 10px 0 10px 0;
    top: 73px;
    right: 0;
    background-color: #9b9c9c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #FFF;
    border: 1px solid #0055a0;
    border-left-width: 0;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 0 19px 19px 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    -webkit-appearance: button;
}

    .btn_login:hover {
        background-color: #2c2c2c;
        border: 1px solid #d5d5d5;
    }

#Remote {
    width: 230px;
    margin: 0 auto;
    position: relative;
}

#oblinks, #oblinks2 {
    width: 100%;
    /* font-family: 'Open Sans' !important; */
    padding: 14px 0 17px 0;
    /* display: block; */
    /* display: flex; */
    /* flex-direction: column; */
}

#oblinks2 {
    display: none;
}

#oblinks2, .personal #oblinks2, .business #oblinks {
    display: none;
}

.personal #oblinks, .business #oblinks2 {
    display: block;
}

#oblinks ul, #oblinks2 ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

    #oblinks ul li, #oblinks2 ul li {
        position: relative;
        padding: 0 0 0 14px;
        margin: 0;
    }

    #oblinks2 ul li {
        padding: 0;
    }

    #oblinks ul li:first-child {
        padding: 0;
        margin-bottom: .5em;
    }

    #oblinks ul li i {
        margin-right: 10px;
        color: #0055a0;
    }

    #oblinks ul li a, #oblinks2 ul li a {
    }

        #oblinks ul li a:hover, #oblinks2 ul li a:hover {
            color: rgba(0,0,0,.7);
        }
/**  Site Notice **/

.notice {
    background-color: #ff6600;
    overflow: hidden;
    height: auto;
    -webkit-transition: max-height .75s ease-in-out;
    -moz-transition: max-height .75s ease-in-out;
    -ms-transition: max-height .75s ease-in-out;
    -o-transition: max-height .75s ease-in-out;
    transition: max-height .75s ease-in-out;
    max-height: 0px;
    /* use these styles if you would like a fixed bottom notice */
    position: fixed;
    z-index: 20600;
    bottom: 0;
    width: 100%;
}

    .notice.active {
        -webkit-transition: max-height .75s ease-in-out;
        -moz-transition: max-height .75s ease-in-out;
        -ms-transition: max-height .75s ease-in-out;
        -o-transition: max-height .75s ease-in-out;
        transition: max-height .75s ease-in-out;
        max-height: 300px;
    }

body.noticeactive .notice:not(.appbanner) {
    max-height: 300px;
}

body.bannernoticeactive .notice.appbanner.active {
    max-height: 300px;
}

.notice table {
    width: 100% !important;
    margin: 0 auto;
}

    .notice table tr td {
        border: none;
        padding: .5em 4em;
    }

.noticeHtml {
    overflow: hidden;
}

    .noticeHtml table td {
        padding: 10px;
        text-align: center;
    }

    .noticeHtml * {
        font-size: 2.3vmin !important;
        line-height: 2.5vmin !important;
        padding: 5px 0;
        margin: 3px 0;
        color: #ffffff;
    }

    .noticeHtml > p {
        text-align: center !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .noticeHtml a {
        color: rgba(255,255,255,.75);
        text-decoration: none;
    }

        .noticeHtml a:hover {
            color: rgba(255,255,255,.95);
            text-decoration: underline;
        }

    .noticeHtml td.rev {
        background-color: transparent;
    }

.noticecloser, .noticeclosersession {
    position: absolute;
    display: block;
    min-height: 30px;
    box-sizing: border-box;
    width: 20px;
    cursor: pointer;
    text-align: center;
    font-family: 'FontAwesome';
    font-size: 22px;
}

.noticecloser {
    right: 8px;
}

.noticeclosersession {
    right: 35px;
}

.noticecloser:before {
    content: "\f00d";
}

.noticeclosersession:before {
    content: "\f068";
}
/*  Responsive font size */
@media only screen and (min-width:1032px) {
    .noticeHtml {
        max-height: 125px;
    }
}

@media only screen and (max-width:640px) {
    .notice, .notice * {
        font-size: 3vmin !important;
    }
}

/* For fixed header - disable notice-clone when header becomes relative. Adjust media query as necessary */
@media only screen and (max-width:1016px) {
    body.noticeactive > .notice {
        /* display: none; */
    }
}



/**  end of Site Notice **/


/*-------------Smart App Banner--------------*/
.notice.appbanner {
    display: none;
    color: #666;
    background-color: #e8e8ea;
    padding: 0 !important;
    margin: 0 !important;
    max-height: 0 !important;
}

    .notice.appbanner.active {
        max-height: 16.67rem !important;
    }

    .notice.appbanner .noticeHtml {
        max-height: unset !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

body.android #notice-android.appbanner.active, body.android-tablet #notice-android-tablet.appbanner.active, body.android-fire #notice-android-fire.appbanner.active, body.android-tablet-fire #notice-android-tablet-fire.appbanner.active, body.iphone #notice-iphone.appbanner.active, body.ipad #notice-ipad.appbanner.active {
    display: block;
    position: relative !important;
}

.appbanner p {
    text-align: center;
}

.appbanner a.icon {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 0 5px;
    color: #666;
    text-shadow: 0px 1px 1px rgba(0,0,0,.25);
}

.notice .icon img {
    height: 57px;
    width: 57px;
    margin: 0 auto 3px auto;
    border-radius: 9px;
    display: block;
    box-shadow: 0px 1px 1px rgba(0,0,0,.25);
}

.app-text {
    display: none !important;
}

body.android .app-android-text, body.android-tablet .app-android-tablet-text, body.android-fire .app-android-fire-text, body.android-tablet-fire .app-android-tablet-fire-text, body.iphone .app-iphone-text, body.ipad .app-ipad-text {
    display: inline-block !important;
}


.apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1rem;
    padding-top: .5rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    width: calc(100% + 1rem);
}

.app {
    flex-grow: 1;
    display: flex;
    align-items: center;
    min-width: 250px;
    box-sizing: border-box;
    margin: 0 .5em 1em .5em;
    padding-right: .5em;
}

    .app > * {
        padding: .5rem .5rem;
        color: #000000;
    }

    .app .sb-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        padding: 0 !important;
        margin: 0 !important;
    }

    .app .sb-text {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .app .sb-app-name, .app .sb-app-company, .app .sb-app-store, .app .sb-price {
        color: #333;
        line-height: 1.25em !important;
        padding: 0;
        font-size: .8rem !important;
    }

    .app .sb-app-name {
        font-weight: bold;
    }

    .app .sb-price {
        color: #666;
        font-weight: bold;
    }

    .app img {
        height: 5em;
        width: auto;
        padding: 0 !important;
        margin: 0 !important;
    }

.app {
    background-color: rgba(255,255,255,.5);
    border-radius: 1rem;
}

    .app img {
        overflow: hidden;
        border-radius: 1rem;
    }

.notice.appbanner .noticeHtml {
    padding: 1.5em .75em 0 .75em !important;
}

.appbanner.active .noticeclosers {
    top: 0.3em;
    right: 1rem;
    display: flex;
}

.appbanner .noticecloser, .appbanner .noticeclosersession {
    margin: 0 .5em !important;
    font-size: 0.9167rem;
    color: #000000;
}

.noticeHtml a:after {
    display: none; /*hide external link icon*/
}

.Table-Count-Numbers,
.Table-Count-Numbers tbody {
    display: block;
    width: 100%;
}

.Table-Count-Numbers {
    margin: 1.5em 0 1em 0;
}

    .Table-Count-Numbers tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

        .Table-Count-Numbers tr td {
            display: block;
        }

@media only screen and (max-width:1000px) {
    .Table-Count-Numbers tr {
        flex-wrap: wrap;
    }
}

.Number {
    /* display: inline-block; */
    /* padding: 3% 6%; */
    text-align: center;
    /* width: 33%; */
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1;
}

    .Number .count,
    .Number span {
        color: rgba(35,31,32,.7);
        font-size: 5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }

@media only screen and (max-width:1000px) {
    .Number .count {
        font-size: 4rem;
        line-height: 70px;
    }
}

@media only screen and (max-width:667px) /*iPhone 6 Landscape*/ {
    .Number {
        display: block;
        width: 100%;
    }
}

.Number + * {
    margin-top: 0;
    padding-top: 0;
    color: rgba(35,31,32,.7);
}

[class*="Circle-Icon"] {
    position: relative;
    display: block;
    top: 0;
    /* left: 50%; */
    /* margin: 0 0 0 -56px; */
    width: 112px;
    height: 112px;
    padding: 0;
    color: #FFF;
    text-align: center;
    border: 0px solid #000000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, .5);
}

[class*="Table-Grid"] > tbody > tr > td > [class*="Circle-Icon"] {
    margin: 0 auto;
}

[class*="Circle-Icon"]:after {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    border-radius: 50%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 12px solid rgba(255,255,255,.7);
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1);
}

[class*="Circle-Icon"]:before {
    position: absolute;
    left: 50%;
    color: #FFF;
    line-height: 70px;
    z-index: 2;
    font-family: 'Fiserv-First-Federal';
    margin-left: -2.1rem;
    line-height: 1;
    text-align: center;
    color: #0055a0;
    /* box-sizing: border-box; */
}

.Circle-Icon-Home:before {
    font-size: 4.5rem;
    top: .5rem;
    content: "\f015";
    font-family: 'FontAwesome';
}


.Circle-Icon-Wallet:before {
    content: "\e905";
    font-size: 3.5rem !important;
    top: 1rem !important;
    margin-left: -1.7rem;
}

.Circle-Icon-Computer:before {
    content: "\e902";
    font-size: 3rem !important;
    top: 1.25rem !important;
    margin-left: -2.25rem !important;
}

.Circle-Icon-First-Federal:before {
    content: "\e903";
    font-size: 2.7rem !important;
    top: 1.5rem !important;
    margin-left: -2rem !important;
}

/*IE11*/
_:-ms-fullscreen, :root .Circle-Icon-Home:before {
    top: 0 !important;
}

_:-ms-fullscreen, :root .Circle-Icon-Wallet:before {
    top: .5rem !important;
}

_:-ms-fullscreen, :root .Circle-Icon-Computer:before {
    top: 1rem !important;
    font-size: 2.7rem !important;
    margin-left: -2rem !important;
}

_:-ms-fullscreen, :root .Circle-Icon-First-Federal:before {
    top: 1rem !important;
}
/*Toolbar*/

#toolbar {
    margin: auto;
    width: 176px;
    position: fixed;
    z-index: 10001;
    top: 25%;
    right: -128px;
    list-style-type: none;
    padding: 0;
    margin-top: -50px; /*container height / 2*/
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -ms-transition: top .5s ease;
    transition: top .5s ease;
}

.ipad.noticeactive #toolbar {
    top: 40%;
}

.dsm {
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

#toolbar li {
    display: block;
    position: relative !important;
    font-size: .85rem;
    background-color: #01539b;
    width: 178px;
    height: 43px;
    right: 0px;
    margin: 0px 0 4px 0 !important;
    padding: 0 !important;
    border-radius: 1.5em 0 0 1.5em;
    -webkit-transition: right .4s ease-in-out;
    -moz-transition: right .4s ease-in-out;
    -ms-transition: right .4s ease-in-out;
    transition: right .4s ease-in-out;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.0);
}

    #toolbar li:hover {
        right: 113px;
    }

    #toolbar li.apply {
        width: 260px;
    }

        #toolbar li.apply:hover {
            right: 190px
        }

    #toolbar li:first-child {
        margin-top: 13px;
    }

    #toolbar li:last-child {
        margin-bottom: 13px;
    }

    #toolbar li > a {
        display: block;
        width: 100%;
        height: 43px;
        vertical-align: middle;
        color: rgba(255,255,255,1);
    }

    #toolbar li a p {
        margin: 0;
        font-weight: 300;
        /* font-size: 1rem; */
        line-height: 2.25;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
    }

i.toolbar-section {
    float: left;
    display: block;
    width: 41px;
    height: 43px;
    margin: 0 6px 0 6px;
    font-size: 27px;
    line-height: 43px;
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

    i.toolbar-section.fa-percent {
        font-size: 22px;
    }

    i.toolbar-section.fa-calculator {
        font-size: 19px;
    }

#toolbar li:hover i {
    color: rgba(255,255,255,.75);
}

body.mobile #toolbar-wrapper {
    position: absolute;
    top: 19px;
    width: 100%;
    height: 43px;
    background-color: #01539b;
    /* opacity: 0; */
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 10;
}

body.mobile.opennav #toolbar-wrapper {
    opacity: 1;
    top: 63px;
}

body.mobile #toolbar {
    position: relative;
    margin: 0 auto;
    right: 0;
    width: 250px;
    top: 0;
}

body.mobile.ipad.noticeactive #toolbar {
    top: 0;
}

body.mobile #toolbar li.toolbar-search {
    display: none;
}

body.mobile #toolbar li a p {
    display: none;
}

body.mobile #toolbar li {
    width: 50px;
    float: left;
    margin: 0 !important;
    right: 0;
    border-radius: 0;
    border-width: 0;
}

    body.mobile #toolbar li:hover {
        right: 0;
        box-shadow: none;
    }

        body.mobile #toolbar li:hover a {
            color: #007057;
        }

    body.mobile #toolbar li.weather-panel {
        display: none;
    }

#toolbar li.weather-panel:hover {
    right: 350px;
}

.weather-trigger i {
    color: rgba(255,255,255,1);
}

.weather-panel .promocontent {
    width: 358px;
    position: absolute;
    top: 0px;
    right: -275px;
    background-color: #0055a0;
    padding: 10px 35px 20px 35px;
    box-sizing: border-box;
    border-radius: 0 0 5px 0;
}

    .weather-panel .promocontent h2 {
        color: #fff;
        font-weight: normal;
        font-size: 27px;
        margin-bottom: 12px;
        margin-top: 0;
    }

    .weather-panel .promocontent table {
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.44);
    }

        .weather-panel .promocontent table th, .weather-panel .promocontent table td {
            padding: 2px 10px;
            color: #005a8b;
            background-color: #fff;
        }

        .weather-panel .promocontent table th {
            width: 50%;
            text-align: left;
            background-color: #009fda;
            color: #fff;
            font-weight: normal;
        }

        .weather-panel .promocontent table td {
            border-top: 1px solid #bebebe;
        }

        .weather-panel .promocontent table tr:first-child td {
            border-top: 0;
        }

table[class*="Links"] > tbody > tr > td {
    position: relative;
}

.Grid-Button {
    position: absolute;
    height: 100%;
    width: 100%;
    text-indent: -99999em;
    top: 0;
    left: 0;
    background-color: transparent;
}

.no-touch .Grid-Button:hover {
    background-color: transparent;
}

table[class*="Links"] > tbody > tr > td * {
    transition: all .5s ease;
}

table[class*="Links"] > tbody > tr > td:hover * {
    color: #969696;
}

[class*="Table-Grid-Half"] > tbody > tr {
    flex-basis: calc(50% - 2em);
}

[class*="Table-Grid"] > tbody > tr > td img {
    width: inherit;
}

[class*="Table-Grid-Thirds"] > tbody > tr {
    flex-basis: calc(33% - 2em);
}

[class*="Table-Grid-Fourths"] > tbody > tr {
    flex-basis: calc(25% - 2em);
}

[class*="Table-Grid"] > tbody > tr {
    position: relative;
}

    [class*="Table-Grid"] > tbody > tr > td > h4 {
        padding-top: 0;
    }

@media only screen and (max-width:1024px) /*iPad Landscape*/ {

    [class*="Table-Grid-Thirds"] > tbody > tr,
    [class*="Table-Grid-Fourths"] > tbody > tr {
        flex-basis: calc(50% - 2em);
    }
}

@media only screen and (max-width:568px) /*iPhone 5 Landscape*/ {
    [class*="Table-Grid-Half"] > tbody > tr,
    [class*="Table-Grid-Thirds"] > tbody > tr,
    [class*="Table-Grid-Fourths"] > tbody > tr {
        flex-basis: calc(100% - 2em);
    }
}

[class*="Table-Grid"] ul {
    margin-left: 0;
    padding-left: 0
}

/*--------Subpages--------*/
.Table-Location tr td {
    vertical-align: top;
}

.Table-Location tr td {
    padding-left: 1em;
    padding-right: 1em;
}

.Table-Location tr:first-child td:first-child {
    width: 380px;
    padding-left: 0;
}

@media only screen and (max-width:1000px) {
    .Table-Location tr td {
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width:560px) /*Galaxy S, S2 Landscape*/ {
    .Table-Location tr td {
        width: 100%;
        padding-left: 0;
    }
}

.Table-History {
    width: 100%;
    border: .075rem solid rgba(0,0,0,.2);
    margin-bottom: 1rem;
}

    .Table-History:first-of-type {
        margin-top: 1em;
    }

    .Table-History td {
        padding-left: 1em;
    }

    .Table-History tbody tr td:first-of-type {
        width: 25%;
        padding-left: 0;
        min-width: 25%;
        text-align: center;
        color: #FFF;
        background-color: #00529b;
        font-size: 2rem;
        font-weight: 600;
    }

        .Table-History tbody tr td:first-of-type p {
            margin: 0;
            padding: 0;
        }

    .Table-History td p {
        margin: 1em 0;
    }

@media only screen and (max-width: 490px) {
    .Table-History tbody tr td {
        width: 100% !important;
        float: left;
    }
}

.Table-Account td {
    vertical-align: top;
    background-color: #efefef;
    padding: 1em 2em;
}

    .Table-Account td:first-child {
        background-color: transparent;
        width: 60%;
        padding: 0 1em 0 0;
    }

.Table-Account + .Table-Account {
    margin-top: 1em;
}

@media only screen and (max-width:490px) {
    .Table-Account td {
        width: 100% !important;
        float: left;
        padding: 1em;
    }
}

.Business-Phone:before, .Phone:before, .Fax:before, .Email:before, .pdf:after, .Map:before, .Card:before, .Chat:before {
    content: '\f1ad';
    font-family: 'FontAwesome';
    margin-right: 10px;
    color: #00529b;
}

.Phone:before {
    content: '\f095';
}

.Fax:before {
    content: '\f1ac';
}

.Email:before {
    content: '\f0e0';
}

.Map:before {
    content: '\f041'
}

.Card:before {
    content: '\f283';
    font-size: 1rem;
}

.pdf:after {
    content: '\f1c1';
    color: red;
    margin-left: 10px;
}

.Chat:before {
    content: '\f075';
}

.cTimeValue input[type=text] {
    line-height: 2;
    font-size: 1rem;
    padding: 0 1em;
    /* box-sizing: border-box; */
    margin: 0 1em;
    border: solid 1px #afafaf;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cTimeValue .TextInput {
    width: 8rem;
}

.cTimeValue select {
    height: 40px;
    padding: 0 1em;
}

.cTimeValue input[type=radio] {
    margin-right: 5px;
    margin-left: 10px;
}

.cTimeValue .toggle {
    vertical-align: middle !important;
}

.cTimeValue #COMPUTE {
    position: relative;
    display: inline-block;
    padding: .6em 1.5em;
    margin: .2em .5em .2em 0;
    line-height: 1;
    text-align: center;
    color: #FFF;
    background-color: #797979;
    transition: all .5s ease;
    cursor: pointer;
    border-radius: 2em;
    background-color: #00529b;
    background-image: none;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    font-size: .9rem;
    border: 0;
    font-weight: normal;
    font-family: inherit;
    width: auto;
    height: auto;
}

    .cTimeValue #COMPUTE:hover {
        background-color: #0f2e7d !important;
    }

.cTimeValue .Summary {
    color: #0f2e7d !important;
}

.cTimeValue fieldset {
    border: 1px solid #c8c8c8;
    padding: 0 40px 20px 40px;
}

    .cTimeValue fieldset legend {
        padding: 10px;
    }
