{% extends 'core/base.html' %}

{% block content %}
  <div class="card-request-container">
    <h1 class="text-center mb-4">Request a New Card</h1>
    <p class="mb-3">Please select the type of card you are requesting:</p>
    <form method="post">
      {% csrf_token %}
      <fieldset>
        <legend class="sr-only">Card Request Form</legend>
        {{ form.as_p }}
      </fieldset>
      <button type="submit" class="btn btn-primary mt-4">Submit Request</button>
    </form>
  </div>
{% endblock %}
